.divContainerCard{
display: flex;
}
.Card{
    display: flex;

    background-color: rgb(224, 222, 222);
    width: 300px;
    height: 600px;
    margin:auto ;

    color:rgb(64, 64, 64);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.imgCard{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}
.CardTitle{
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.CardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.button{
    height: 30px;
    width: 200px;
    background-color: black;
    color: azure;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    
}