.divContainerCard{
display: flex;
}
.Card{
    display: flex;

    background-color: rgb(236, 236, 236);
    width: 200px;
    height: 350px;
    margin:auto ;
   
    color:rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
border-radius: 10%;
    
    transition: 1s;
}
.Card:hover{
    display: flex;

    background-color: rgb(236, 236, 236);
    width: 200px;
    height: 350px;
    margin:auto ;
    border-radius: 10%;
    color:rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow:0px 11px 20px rgb(0 0 0);
    transition: 1s;
}
.imgCard{
    width: 170px;
    height:170px;
    
    margin: auto;
}
.CardTitle{
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.CardText{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
    
}
.button{
    height: 30px;
    width: 170px;
    background-color: black;
    margin: auto;
    color: azure;
    font-size: 15px;
    cursor: pointer;
    
    
   transition: .7s;
    
}
.button:hover{
    height: 30px;
    width: 200px;
    
    background-color: rgb(0, 0, 0);
    color: azure;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    text-align: center;
   
    transition: .7s;
    box-shadow:4px 7px 15px rgb(76 71 71);
    
}
.divContenedorBoton{
   
    text-align: center;
}