.divContainerDetail{
    background-color: rgb(231, 231, 231);
    display: flex;
    
justify-content: center
}


.DivCard{
    margin: auto;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(103, 103, 103);
   transition: 1s;
}
.Card-Body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divTextContainer{
    background-color: rgb(238, 236, 233);
    height: 500px;
    width: 410px;
    margin: auto;
    border: 2px solid black;
    

   
}
.CardTextDetail{
    font-size: 20px;
   
    font-weight: 700;
    text-align: justify;
}
.divIMGContainer{
   
    
    margin: auto;
   
}
.imgCardDetail{
    height: 280px;
    width: 280px;
}

.CardTitleText{
    font-size: 30px;
    text-align: center;

    
}

.divContainerImgMin{
    display: flex;
}
.imgCardMin{
    height: 70px;
    width: 70px;
}

.divContainerLink{
    display: flex;
    height: 20px;
    flex-direction: column;
}
.button{
    height: 30px;
    width: 170px;
    background-color: black;
    margin: auto;
    color: azure;
    font-size: 15px;
    cursor: pointer;
    
    
   transition: .7s;
    
}
.button:hover{
    height: 30px;
    width: 170px;
    
    background-color: rgb(0, 0, 0);
    color: azure;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    text-align: center;
   
    transition: .7s;
    box-shadow:4px 7px 15px rgb(76 71 71);
    
}