.divContainerDetail{
    background-color: rgb(242, 240, 240);
    display: flex;
    
justify-content: center
}


.DivCard{
    margin: auto;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: rgb(152, 151, 151);
    border: 3px solid black;
   transition: 1s;
}
.Card-Body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divTextContainer{
    background-color: rgb(238, 236, 233);
    height: 300px;
    width: 410px;
    margin: auto;
    border: 2px solid black;
    

   
}
.CardTextDetail{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.divIMGContainer{
   
    
    margin: auto;
   
}
.imgCardDetail{
    height: 280px;
    width: 280px;
}

.CardTitleText{
    font-size: 30px;
    text-align: center;

    
}

