.centerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 75vh;
  }
  .titleCart{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .cardCarrito{
    max-width: 800px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    box-shadow: rgba(10, 10, 10, 0.3) 0px 0px 40px 1px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .tamanoTitleCart{
    width: 90%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
   }

   .cartContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
    align-items: center;
    justify-items: center;
    grid-template-areas:
                        "imgProducto cantidadCart precioCart subtotalCart eliminarItemCard"
                        "imgProducto cantidadCart precioCart subtotalCart eliminarItemCard"
                        "imgProducto cantidadCart precioCart subtotalCart eliminarItemCard"
                        "imgProducto cantidadCart precioCart subtotalCart eliminarItemCard"
  
   }
   .cantidadCart{
    grid-area: cantidadCart;
    text-align: center;
  }
  .precioCart{
    grid-area: precioCart;
    text-align: center;
  }

  .subtotalCart{
    grid-area: subtotalCart;
    text-align: center;
  }
  .lineCart{
    border-top: 0.5px solid rgba(40, 40, 40, 0.73);
    width: 90%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .impFinal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .labelTotal{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .btnAddCar{
    background-color: #6f6e6f;
    border: black 0.1px solid;
    padding: 5px;
    color: #ffffff;
    font-weight: 500;
    
    text-decoration: dashed;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }
  
  .btnAddCar:hover{
    background-color: #1c1c1d;
    border: black 0.1px solid;
    padding: 5px;
    color: #e2e2e2;
    font-weight: 500;
    text-decoration: dashed;
  }
  .btnFinalC{
    margin-right: 40px;
  }

  .btnVaciarCarrito{
    background-color: #e3e3e8;
    border: black 0.1px solid;
    padding: 5px;
    color: #000000;
    font-weight: 500;
    text-decoration: dashed;
  }
  .btnVaciarCarrito:hover{
    background-color: #d93d3d;
    border: rgb(230, 8, 8) 0.1px solid;
    padding: 5px;
    color: #e2e2e2;
    font-weight: 500;
    text-decoration: dashed;
  }
  .noHayCompras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 75vh;
  }
  .btnIrDeCompras{
    margin-top: 50px;
    background-color: #947EC3;
    border: black 0.1px solid;
    padding: 5px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 20px;
    text-decoration: dashed;
    margin-bottom: 15px;
    font-size: 1.2rem;
}


