.checkoutContainer{
    background-color: rgb(218, 218, 218);
    padding: 50px;
}
.divContainerCompraRealizada{
    border: 2px solid rgb(57, 57, 57);
    background-color: rgb(186, 183, 183);
    height: 600px;
    width: 500px;
   
  text-align: center;
  margin: auto;
}
.H45Compra{
    margin: 30px;
  
}
.CodigoDeSeguimiento{
    margin: 30px;
}
.DivContainerInfo{
display: flex;

    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}






.DivContenedorFormulario{
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 135, 135);
    text-align: center;
    padding: 50px;
    height: 600px;
    width: 400px;
    margin: auto;
    border-radius: 10%;
    border: 3px solid black;
    
    
  

}
.H2Formulario{
    
    font-size: 25px;
    font-weight: 700;

}
.BDescripcion{
    margin: 30px;
}
