footer{
    background: #131019;
    padding-bottom: 0.1px;
    height: 200px;
}

.footer-content{
   text-align: center;
   color: #fff;
    
    
}




.brand{
    font-weight: 500;
    font-size: 40px;
}








.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

