footer{
    background: #131019;
    padding-bottom: 0.1px;
    height: 250px;
}

.footer-content{
   text-align: center;
   color: #fff;
    
    
}




.brand{
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    
}
.LinkFooter{
    text-decoration: none;
}








.line{
    width: 40%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-bottom: 60px;
}

