.DivContainerDetail{
    background-image: linear-gradient(to top, #8b827a 0%, #EDE9E7 100%);
   display: flex;
   justify-content: center;
}
.divCONtainerItem{
    margin: 30px;
   
}

.DIvcard{
    
    display: flex;
   
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    
   
   
}

.h2cardTitle{
    padding: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.pcardText{
    padding: 20px;
    height: 200px;
    width: 600px;
}
.precioLi{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
}












.btn-fin{
    background-color: #292b2c;
    color: #c7c7c7;
    text-decoration: none;
    margin: 3px;
}