.ItemListC{
    display: grid;
    padding: 132px;
    gap: 1rem;
    grid-auto-rows: 24rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem ,1fr) );
    background-image: linear-gradient(to top, #936047 0%, #EDE9E7 100%);
   
  
}