.divTest{
    background-color: rgba(216, 176, 176, 0.186);
    display: flex;
    height: 150px;
    width: 370px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  

    
}
.DivContainer{
    text-align: center;
    display: flex;
    align-items: center;

    gap: 20px;
    
    flex-direction: column
    
}
.boton{
    height: 20px;
    width: 70px;
    background-color: #081a1e00;
    color: aliceblue;
    border: 2px solid bisque;
    transition: 0.8s;
}
.boton:hover{
    height: 20px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 0.8s;
}
.botonAgregarCarrito{
    height: 30px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 1s;
    border-radius: 20%;
}
.botonAgregarCarrito:hover{
    height: 30px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
    transition: 0.8s;
}
.botonItemCount{
    height: 20px;
    width: 70px;
    background-color: #081a1ecf;
    color: aliceblue;
    border: 2px solid bisque;
    transition: 0.8s;
}