
.divContador{
    display: flex;
    justify-content: center
    
}
.scr{
    margin: 10px;
    align-items: baseline;
    
    
}
.scrh2{
    font-weight: 600;
}

.DivContainerContador{
    display: flex;
  

}


